
.JTitle
{
    background-color: antiquewhite;
    width: auto;
    height: 70px;
    margin: 0;
    border: 10px solid black;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
}

#JBio
{
    background-color: antiquewhite;
    width: 40px;
    height: 40px;
    margin: 20;
    border: 5px solid black;
    padding: 5px;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 5px black;

}

div.JBox
{
    background-color: antiquewhite;
    width: auto;
    height: 70px;
    margin: 20;
    border: 5px solid black;
    border-style: dashed;
    padding: 5px; 
    box-shadow: 5px 5px 5px black;
    font-size: x-large;
}

.JContainer
{
    position: relative;
    width: 25%;
    margin: auto;
    
}

.JPic
{
    display: block;
    width: 50%;
    margin: auto;
    height: auto;

}

.JOverlay
{
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 25%;
    right:0;
    background-color: rgb(65, 133, 212);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease-in;
}

.JContainer:hover .JOverlay
{
    width: 50%;
    margin: auto;
    left:0;
}

.JText
{
    white-space: nowrap;
    color:white;
    font-size: 20px;
    position: absolute;
    overflow: visible;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
}

.container {
    background: url('./background_IV.jpeg');
}
.h1 {
    color: #f6f6f6;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
.h2 {
    color: #331800;
    font-size: 2rem;
    font-weight: 600;

}
.photo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.bio {
    font-size: 200;
    font-weight: 600;
    color: #331800;
    line-height: 5rem;
    margin-bottom: 5rem;
    margin-left: 5%;
    font-family: 'Times New Roman';
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    background: #f6f6f6;
    margin-left: 43%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 7px;
    transition: background 0.5s;
}
.btn:hover {
    background: #dadada;
}



